# Core
numpy
pandas
matplotlib
seaborn
Pillow
requests

# Deep learning
torch
torchvision

# Streamlit app
streamlit

# Evaluation metrics
pycocoevalcap
pycocotools

# Jupyter notebooks
jupyter
ipykernel